$fontSize: 18px;
$color: #f938ab;
$bgColor: #f5f5f5;

body{
    color: $color;
    font-size:$fontSize;
    background-color:$bgColor;
}

.hd-title {
    font-weight:bold;
    color:$color;
}

ul{
  line-height: 40px;
  text-transform: capitalize;
  background-color:#333;
  li{
   
  }
  a{
    display: block;
    padding: 0 10px;
    color: #fff;

    &:hover{
      color:#ddd;
    }
  }
}

