<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>gulp-velocity example page</title>
  <meta name="keywords" content="$page.keywords">
  <meta name="description" content="$page.description">
  #set($prdInfo = $page.prdInfo)
  #set($storeConfig = $storeConfiguration)
  #parse('./widget/prdstyle.vm')
  #parse('./widget/variate.vm')
  #parse('./widget/prdinfo.vm') 
</head>
<body>

<div class="wbox">

<h1 class="animated_div">这是一个使用gulp-velocity 的简单示例页面。</h1>
<br>  

<h2 class="hd-title">循环对象</h2>
<ol class="serviceTags">
#foreach($serviceTag in $page.serviceTags.entrySet())
    <li>$serviceTag.value</li>
#end
</ol>

<h2 class="hd-title">循环数组</h2>
<ul class="bread">
#foreach( $bread in $page.bread )
    <li>
      #if($bread.href!="" ) 
        <a href="$bread.href" title="$bread.title">$bread.text</a>
      #else 
        <span title="$bread.title">$bread.text</span>
      #end
    </li>
#end
</ul>

</div>

<div class="wbox clx">
    <div class="dt-side">
        <div class="panel-box" id="lookToBuy">浏览最终购买</div>
    </div>
	<div class="dt-main">
		<div id="prdDesc" class="prdDescOut">
			<div id="gfixed"></div>
			<div id="fixtabox" class="pdtl-tab">
				<ul class="prdtitbox" id="prd_tbox">
					<li class="cur">
						<a href="javascript:;">商品详情</a>
					</li>
					<li>
						<a href="javascript:;">规格与包装</a>
					</li>
					<li>
						<a href="javascript:;" class="pingjia_header">商品评价<span class="c00">（3）</span></a>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>

#include('./widget/footer.vm')

#include('./widget/prdscript.vm')

</body>
</html>
