<script>
var prdInfo={
  ## 商品productID 
  prdId:$!prdInfo.productId,
  ## 商品skuID 
  sku:$!prdInfo.sku,
  ## 商品sku级别的属性 
  skuDat:$!prdInfo.skuVersion,
  ## 商品编号
  skuNo:$!prdInfo.skuNo,
  ## 店铺编号 
  shopNo:$!prdInfo.shopNo,
  ## 销售渠道
  siteId:$!prdInfo.channel,
  ## 商品库区可卖属性 
  skuType:$!prdInfo.skuType,
  ## 商品店铺的类型 
  sapSkuType:$!prdInfo.sapSkuType
}
</script>